$font-stack: Helvetica, sans-serif;
$primary-color: red;

main {
  font: 100% $font-stack;
  color: $primary-color;
}

html, main {
    height: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
    background-color: royalblue;
  }